.blockWrapper {
  height: 1200px;
  width: 100%;
}

.urlToImage {
  width: 500px;
  height: 300px;
}

.newsList {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  text-decoration: none;
  font-size: 30px;
  color: #3b4;
}

a {
  text-decoration: none;
}

.title:hover {
  transform: scale(0.95);
  color: #ddd;
  transition: all 0.2s;
  cursor: pointer;
}

.infWrapper {
  padding-left: 20px;
  font-size: 20px;
}

.itemWrapper {
  display: flex;
  width: 100%;
}

.pageList {
  height: 100px;
  text-align: center;
}

.selectPage {
  color: #a6e198;
  font-size: 70px;
  margin-left: 20px;
}

.listItem {
  font-size: 30px;
  margin-left: 20px;
}

.listItem:hover {
  transform: scale(1.1);
  color: crimson;
  transition: all 0.7s;
  cursor: pointer;
}

.author {
  font-weight: bold;
  font-size: 20px;
}
